<div class="row">
  <div class="card col-md-offset-3 col-md-6 col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="card-body" style="text-align: center;">
      <h2 class="card-title" style="padding:20px;">Welcome to FoodMart </h2>
      <h4 class="card-text" style="padding:20px;">
        FoodMart is a simple demo market.
        Its built using Angular and Firebase.
      </h4>
      <a href="/products" class="btn btn-primary" style="margin-left:20px;">Start shopping</a>
    </div>
  </div>
</div>
